@CHARSET "ISO-8859-1";

.col-centered {
	float: none;
	margin: 0 auto;
}

.global {
	background-image: url('../img/furley_bg.png');
	font-family: "Calibri";
}

.roundedBorder {
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.heroDiv {
	background-image: url('../img/wallpaper-2728224.jpg');
}

.lightTexture {
	/* 	background-image: url('../img/backgroundtexture-tweed.png'); */
	background-image: url('../img/backgroundtexture-brushed.png');
}

.centreText {
	text-align: center;
}

.justifyText {
	text-align: justify;
}

.myColourChanger {
	color: red;
}